.herobanner{
    height: 100vh;
    width: 100%;
    /* border: 1px solid red; */
}

.carousel{
    width: 85%;
    height: 80%;
    margin: 2em auto 0 auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.cont{
    width: 40%;
    /* border: 1px solid red; */
    padding: 0.2em 0.6em;
}

.cont>h1{
    font-size: 3.1em;
    font-weight: 900;
    margin-bottom: 0.5em;
    /* margin-top: 1em; */
}

.cont>p{
    font-size: 1.8em;
    margin-bottom: 2.8em;
}

.cont>button, .mobileBtn{
    width: 100%;
    height: 3.5em;
    border-radius: 0.3em;
    background-color: #8b0064;
    border: 0;
    color: #fff;
    font-size: 1em;
}

.imagery{
    width: 55%;
    /* border: 1px solid red; */
}

.imagery>img{
    object-fit: contain;
    height: 100%;
    /* border: 1px solid red; */
}

.womencont{
    /* border: 1px solid red; */
    width: 20%;
    margin-top: 0;
    margin-left: 6em;
}

.mobileBtn{
    display: none;
}

.womencont>div>p{
    font-size: 1.2em;
    margin-bottom: 0.7em;
}

@media screen and (max-width:769px){
    .carousel{
        display: flex;
        flex-direction: column;
        height: 38em;
    }

    .cont{
        height: 17em;
        width: 100%;
        /* border: 1px solid red; */
        padding: 0.2em 0.1em;
        
    }

    .cont>h1{
        font-size: 2.5em;
        font-weight: 900;
        margin-bottom: 0.5em;
        margin-top: 1.5em;
        text-align: center;
    }

    .cont>p{
        font-size: 1.6em;
        text-align: center;
    }

    .cont>button{
        display: none;
    }

    .imagery{
        height: 20em;
        width: 100%;
        /* border: 1px solid red; */
    }

    .imagery>img{
        width: 100%;
    }

    .mobileBtn{
        display: flex;
        /* margin-top: 0.5em; */
        margin-bottom: 0.5em;
        height: 3em;
        /* border: 1px solid red; */
    }
    .mobileBtn>button{
        width: 100%;
        border-radius: 0.4em;
        background-color: #8b0064;
        border: 0;
        color: #fff;
        font-size: 1em;
       
    }

    .womencont{
        margin: 2em auto;
        width: 85%;
    }

   

    .womencont>div>img{
        height: 1.9em;
        
    }

}


@media screen and (max-width: 450px){
    .cont>h1{
        font-size: 2.3em;
        font-weight: 900;
        margin-bottom: 0.5em;
        /* color: red; */
        /* margin-top: 1em; */
    }
}