.services{
    width: 100%;
    height: 29em;
    background-color: #E9FFF0;
    margin-bottom: 1em;
}

.svc{
    width: 86%;
    height: 95%;
    margin: 1em auto;
    /* border: 1px solid red; */
    padding-top: 3em;
    background-color: #E9FFF0;
}



.svcContent{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    background-color: #E9FFF0
}

.svcContent>div{
    /* border: 1px solid red; */
    width: 30%;
    height: 15em;
    background-color: #E9FFF0
    
}

.svcContent>div>.svcMobile>h3{
    /* margin: 1em auto 2em auto; */
    font-size: 1.3em;
    color: #1e1e1e;
    font-weight: 600;
    background-color: #E9FFF0
}

.svcContent>div>p{
    color: #1e1e1e;
    background-color: #E9FFF0
}

.svc>h1{
    background-color: #E9FFF0
}

.icons{
    background-color: #E9FFF0
}

.btn{
    margin-top: 3em;
    height: 2.5em;
    width: 8em;
    background-color: #E9FFF0
    
}

.btn>button{
    height: 100%;
    width: 100%;
    background-color: #E9FFF0;
    border-radius: 0.3em;
    color: #1e1e1e;
    border-color: #1e1e1e;
}

.svcMobile{
    /* border: 1px solid red; */
    margin-bottom: 1.5em;
    height: 8em;
    background-color: #E9FFF0
}

.svcMobile>img{
    margin-bottom: 1.5em;
}



@media screen and (max-width:769px) {
.services{
    padding: 1em 0;
    /* margin-top: 1em; */
    width: 100%;
    /* border: 1px solid red; */
    height: 55em;
}

    .svcContent{
        display: flex;
        flex-direction: column;
        
    }

    .svcMobile{
        display: flex;
        /* border: 1px solid red; */
        width: 100%;
        justify-content: space-between;
        height: 3.5em;
        margin-top: 0;
    }

    .svcMobile>img{
        width: 5em;
        height: 4em;
        /* border: 1px solid red; */
    }

    .svcMobile>h3{
        width: 72%;
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
      
    }


    .svcContent>div>p{
        /* border: 1px solid red; */
        font-size: 1.2em;
        margin-top: 0;

        
    }


    .svcContent>div{
        /* border: 1px solid red; */
        width: 100%;
        height: 13em;
        background-color: #E9FFF0
        
    }
}

@media screen and (max-width: 450px) {
    .svcContent>div>p{
        /* border: 1px solid red; */
        font-size: 1.2em;
        margin-top: 2em;
        /* margin-bottom: 1em; */

        
    }

    .svcContent>div>.svcMobile>h3{
        margin-top: 1em;
        margin-left: 1em;

    }

    .services{
        margin-top: 12em;
    }

   
}